
.alert-box {
    position: fixed;
    left: 20px;
    top: 20px;
    color: white;
    z-index: 9999;
    padding: 10px 20px;
    transform: translateY(20px);
    animation: 1s ease-out 0s 1 alert_open;
    border-radius: 5px;
    border: 1px solid rgb(124, 168, 120);
    display: flex;
    flex-direction: row;
}
.alert-box p {
    margin: 0;
    margin-left: 10px;
    font-size: 1rem;
    color: rgb(9, 65, 13) !important;
}
.alert-box i {
    color: rgb(9, 65, 13) !important;
}
.alert-box-close {
    animation: 1s ease-out 0s 1 alert_close;
}
.alert-box-success {
    background-color: #BBF5BB;
    color: rgb(9, 65, 13) !important;
}
.alert-box-error {
    background-color: #F67975;
}