.login {
    margin: auto;
    width: 100%;
    max-width: 700px;
    padding: 100px 60px;
    & form {
        width: 100%;
    }
    &-control {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
            & button {
                border: none;
                border-radius: 0;
                background-color: #637685;
                color: white;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-size: 11px;
                letter-spacing: 2px;
                padding: 10px 30px;
                &:hover {
                    background-color: #505f6b;
                }
            }
            & p {
                margin: 0;
            }
            & a {
                &:hover {
                    text-decoration: none;
                }
            }
    }
}
@media (max-width: 769px) {
    .login-control {
        flex-direction: column;
        & p {
            margin-top: 15px;
        }
    }
}